Custom_Whisper_fine_tuning/Model_Output/Whisper_model_version_1.pt filter=lfs diff=lfs merge=lfs -text
Custom_Whisper_fine_tuning/Model_Output/Whisper_model_version_1.pth filter=lfs diff=lfs merge=lfs -text
